.main_header{
    background-color: rgba(36, 28, 21, 0.3);
}
.main_header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    max-width: 1204px;
    margin: 0 auto;
}

.info_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: end;
}

.glob_icon{
    color: white;
}

